<!DOCTYPE html>
<html lang="cs" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Můj blog</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="icon" type="image/png" href="/images/favicon.png">
</head>
<body bgcolor="#faebd7" >

<!--Stránka s detailem třídy bude zobrazovat název třídy,
jméno a příjmení třídního učitele a seznam studentů ve třídě, seřazený obecedně podle příjmení a jména studenta.
Jméno a příjmení studenta bude zároveň fungovat jako odkaz na stránku s detailními informacei o studentovi..-->

<h1>Detail tridy <span th:text="${trida.nazev}">text</span></h1>

<!--
<table class="u-full-width">
    <thead>
    <tr>
        <th>Trida</th>
        <th>Tridni ucitel</th>
        <th>Datum publikovani</th>
        <th> na článek</th>
    </tr>
    </thead>
    <tbody>

    <tr th:each="post: ${post}">
        <td th:text="${post.author}">Jmeno autora</td>
        <td th:utext="${post.title}">nazev blogu</td>
        <td th:utext="${#temporals.format(post.published, 'd. MMMM yyyy')}">1370</td>
        <td bgcolor="#7fffd4" > <a th:href="@{/post/{slugPart}(slugPart=${post.slug})}">Přečíst</a></td>
    </tr>
    </tbody>
-->
    <div> <a href="../" >Zpatky na prehled trid</a> </div>
</body>
</html>
